<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title>Movies!</title>

</head>
<body>
	<%= yield %>
</body>
</html>