body {
	background-color: #a0b4b8;
}

h1 {
	text-align: center;
	font-size: 5em;
	font-family: 'Arvo';
	margin: 10px;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: "Helvetica Neue";
	margin: 10px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}

.navbar-nav {
	position: center;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
}

.navbar-nav a {
	color: white;
}

.navbar-nav a:hover {
	color: #192823;
}

.imdb {
	width: 25%;
	background-color: #DD1E2F;
}

.rotten {
	width: 25%;
	background-color: #EBB035;
}

.screen {
	width: 25%;
	background-color: #06A2CB;
}

.fandango {
	width: 25%;
	background-color: #218559;
}

#movie-carousel {
	margin: 20px;
}

.search-form {
	margin: 10px;
	text-align: center;
	font-family: 'Arvo';
	font-size: 1.5em;
	color: black;
}

.text-field {
	text-align: center;
	color: #6a7495;
	font-size: 0.8em;
	font-family: "Helvetica Neue";
	width: 200px;
}

.movie-results {
	border: solid black;
	margin: 25px;
	text-align: center;
	font-size: 2em;
	list-style-type: none;
	background-color: #c3c7d4;
}

.movie-results a {
	text-align: center;
}

.mov-poster {
	border: solid black;
	position: center;
}

.details {
	text-align: center;
}

.details-page {

}